.env/
.DS_Store
.vscode
__pycache__/
output/
data/
vis/
av_sync_detection/vis/
av_sync_detection/logs/
av_sync_detection/Synchformer/vis/
Synchformer/
plotting/**/*.png
plotting/**/*.csv
plotting/**/*.numbers
videosnap-0.0.9.pkg
