[submodule "stutter_detection/ExplainableVQA"]
	path = stutter_detection/ExplainableVQA
	url = https://github.com/tom-bbc/ExplainableVQA.git
[submodule "av_sync_detection/Synchformer"]
	path = av_sync_detection/Synchformer
	url = https://github.com/v-iashin/Synchformer.git
[submodule "video_quality_assessment/uvq"]
	path = video_quality_assessment/uvq
	url = https://github.com/google/uvq.git
